
.box{
    background-color: blueviolet;
    width: 10em;
    height: 10em;
    transition:all 3s ease-in-out
}
.box:hover{
    background-color: aqua;
    transition:all 5s 
}
.p{
    overflow: hidden;
    animation:typing 35 linear infinite steps(24,end);
}

@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
    
}
