
.box{
    background-color: blueviolet;
    width: 10em;
    height: 10em;
    transition:all 3s ease-in-out
}
.box:hover{
    background-color: aqua;
    width: 30em;
    height: 30em;
    transition:all 5s 
}
p{
    background-color: deeppink;
    overflow: hidden;
    animation:typing 24s steps(24,end);
    white-space:nowrap;
}

@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
    
